<section title="Styles">
    <e-button>Ask question</e-button>
    <e-button style="White">Ask question</e-button>
    <e-button style="Outlined">Ask question</e-button>
</section>

<section title="Sizes">
    <e-button>Ask question</e-button>
    <e-button size="Small">Ask question</e-button>
</section>