<section title="Standard">
    <breadcrumbs>
        <breadcrumb-item href="#">Stack Overflow</breadcrumb-item>
        <breadcrumb-item href="#">Settings</breadcrumb-item>
        <breadcrumb-item href="#">Billing</breadcrumb-item>
    </breadcrumbs>
</section>

<section title="Icon">
    <breadcrumbs>
        <breadcrumb-item href="#">
            <s-svg name="LogoGlyphXxs" class="mtn2"></s-svg>
        </breadcrumb-item>
        <breadcrumb-item href="#">Settings</breadcrumb-item>
        <breadcrumb-item href="#">Billing</breadcrumb-item>
    </breadcrumbs>
</section>