<button-group>
    <button s-btn state="Muted" weight="Outlined">Newest</button>
    <button s-btn state="Muted" weight="Outlined">Frequent</button>
    <button s-btn state="Muted" weight="Outlined" selected="true">Votes</button>
    <button s-btn state="Muted" weight="Outlined">Active</button>
    <button s-btn state="Muted" weight="Outlined">Unanswered</button>
</button-group>