<card class="wmx3">
    <card-title>Base card title</card-title>
    <card-body>This is a description of the card’s content.</card-body>
    <card-footer class="grid gsx gs4">
        <button class="grid--cell s-btn s-btn__primary s-btn__sm">Call to action</button>
        <button class="grid--cell s-btn s-btn__sm">Cancel</button>
    </card-footer>
</card>

<hr />

<card>
    <card-title>Base card title</card-title>
    <card-body class="fs-body3 lh-sm fc-dark">This is a description of the card’s content.</card-body>
    <card-footer class="grid gsx gs4">
        <button class="grid--cell s-btn s-btn__primary s-btn__sm">Call to action</button>
        <button class="grid--cell s-btn s-btn__sm">Cancel</button>
    </card-footer>
</card>