<input s-checkbox label="Checkbox label" />
<input s-checkbox label="Checkbox label" disabled />

<hr />

<checkbox-group horizontal="true">
    <checkbox-group-legend>
        Which types of fruit do you like? <span class="ml4 fw-normal fc-light">(Check all that apply)</span>
    </checkbox-group-legend>
    <input s-checkbox label="Apples" id="apple-check1" value="apple" />
    <input s-checkbox label="Oranges" id="orange-check1" value="orange" />
    <input s-checkbox label="Bananas" id="bananas-check1" value="banana" />
</checkbox-group>

<hr />

<checkbox-group>
    <checkbox-group-legend>
        Which types of fruit do you like? <span class="ml4 fw-normal fc-light">(Check all that apply)</span>
    </checkbox-group-legend>
    <input s-checkbox label="Apples" description="A sweet, edible fruit produced by an apple tree (Malus pumila)." state="Success" id="apple-check" value="apple" />
    <input s-checkbox label="Oranges" description="A fruit of the citrus species Citrus × sinensis in the family Rutaceae." state="Warning" id="apple-check" value="apple" />
    <input s-checkbox label="Bananas" description="A fruit – botanically a berry – produced by several kinds of large herbaceous flowering plants in the genus Musa." state="Error" id="apple-check" value="apple" />
</checkbox-group>