<span class="s-badge s-badge__gold s-badge__mini"><img class="s-badge--image" src="https://www.gravatar.com/avatar/10000000000000000000000000000000?d=identicon&s=16" aria-hidden="true" />Mini gold!</span>
