<div class="ps-relative">
    <aside class="ps-relative s-banner s-banner__info" style="transform: none;" role="alert" aria-hidden="false">This is a test</aside>
    <aside class="ps-relative s-banner s-banner__warning s-banner__important" style="transform: none;" role="alert" aria-hidden="false">
        <div class="grid grid__center jc-space-between s-banner--container" role="alertdialog" aria-describedby="notice-message">
            <div class="grid gs8 gsx mx0" aria-label="notice-message">
                <div class="grid--cell">
                    svg here
                </div>
                <div class="grid--cell">
                    <p class="m0"><strong>Stacks is currently frozen in read-only mode.</strong> Contact the team to restore access.</p>
                </div>
            </div>
            <div class="grid--cell ml-auto myn8" aria-label="notice-dismiss">
                <a class="p8 s-btn grid grid__center fc-dark js-notice-close" role="status" aria-hidden="true">
                    svg here
                </a>
            </div>
        </div>
    </aside>
</div>