<div class="s-btn-group">
    <button type="button">Newest</button>
    <button type="button">Frequent</button>
    <button type="button">Votes</button>
    <button type="button">Active</button>
    <button type="button">Unanswered</button>
</div>