<div class="wmx3 s-card">
    <h2 class="fs-body3 lh-sm fc-dark">Base card title</h2>
    <p class="fs-body1 fc-medium">This is a description of the card’s content.</p>
    <p class="grid gsx gs4">
        <button class="grid--cell s-btn s-btn__primary s-btn__sm">Call to action</button>
        <button class="grid--cell s-btn s-btn__sm">Cancel</button>
    </p>
</div>