<fieldset class="grid gs8 gsy fd-column">
    <legend class="grid--cell s-label">
        Which types of fruit do you like? <span class="ml4 fw-normal fc-light">(Check all that apply)</span>
    </legend>

    <div class="grid--cell">
        <div class="grid gs8  has-success">
            <div class="grid--cell">
                <input class="s-checkbox" id="apple-check2" state="Success" type="checkbox" value="apple" />
            </div>
            <label class="grid--cell s-label fw-normal" for="apple-check2">
                Apples
                <p class="s-input-message">A sweet, edible fruit produced by an apple tree (Malus pumila).</p>
            </label>
        </div>
    </div><div class="grid--cell">
        <div class="grid gs8  has-warning">
            <div class="grid--cell">
                <input class="s-checkbox" id="orange-check2" state="Warning" type="checkbox" value="apple" />
            </div>
            <label class="grid--cell s-label fw-normal" for="orange-check2">
                Oranges
                <p class="s-input-message">A fruit of the citrus species Citrus × sinensis in the family Rutaceae.</p>
            </label>
        </div>
    </div><div class="grid--cell">
        <div class="grid gs8  has-error">
            <div class="grid--cell">
                <input class="s-checkbox" id="banana-check2" state="Error" type="checkbox" value="apple" />
            </div>
            <label class="grid--cell s-label fw-normal" for="banana-check2">
                Bananas
                <p class="s-input-message">A fruit – botanically a berry – produced by several kinds of large herbaceous flowering plants in the genus Musa.</p>
            </label>
        </div>
    </div>
</fieldset>