<div data-controller="s-modal">
    <button type="button" data-action="s-modal#show">Toggle modal</button>
    <aside class="s-modal" tabindex="-1" role="dialog" aria-labelledby="id_dfa83377d0924dea866d53707a81f4d2title" aria-describedby="id_dfa83377d0924dea866d53707a81f4d2description" aria-hidden="true" data-target="s-modal.modal">
        <div class="s-modal--dialog" role="document">
            <h1 class="s-modal--header" id="id_dfa83377d0924dea866d53707a81f4d2-title">Example title</h1>
            <p class="s-modal--body" id="id_dfa83377d0924dea866d53707a81f4d2-description">
                Nullam ornare lectus vitae lacus sagittis, at sodales leo viverra. Suspendisse nec nulla dignissim elit varius tempus.
                Cras viverra neque at imperdiet vehicula. Curabitur condimentum id dolor vitae ultrices.
                Pellentesque scelerisque nunc sit amet leo fringilla bibendum. Etiam feugiat imperdiet mi, eu blandit arcu cursus a.
            </p>
            <div class="grid gs8 gsx s-modal--footer">
                <button class="grid--cell s-btn s-btn__primary" type="button" data-target="s-modal.initialFocus">Save changes</button>
                <button class="grid--cell s-btn" type="button" data-action="s-modal#hide">Cancel</button>
            </div>
            <a href="#" class="s-modal--close s-btn s-btn__muted" aria-label="Close" data-action="s-modal#hide"><svg aria-hidden="true" class="svg-icon iconClearSm" width="14" height="14" viewBox="0 0 14 14"><path d="M12 3.41L10.59 2 7 5.59 3.41 2 2 3.41 5.59 7 2 10.59 3.41 12 7 8.41 10.59 12 12 10.59 8.41 7 12 3.41z" /></svg></a>
        </div>
    </aside>
</div>