@model IEnumerable<ComponentSampleSet>

@foreach (var sampleSet in Model)
{
    <div class="tab-container ba bc-black-3 bar-md mb24">
        <div class="p16 bb bc-black-3">
            <h2>@sampleSet.RawContent.Title</h2>
            <div class="tab-controls s-navigation">
                <a href="#" class="s-navigation--item is-selected" data-tab="#example-1">Example</a>
                <a href="#" class="s-navigation--item" data-tab="#rendered-1">Rendered</a>
            </div>
        </div>

        <div>
            <pre id="example-1" class="tab-content wmx100 hmx3 overflow-auto m0 p16">@sampleSet.RawContent.Content</pre>
            <pre id="rendered-1" class="tab-content d-none wmx100 hmx3 overflow-auto m0 p16">@sampleSet.RenderedContent.Content</pre>
        </div>

        <div class="preview p16 bt bc-black-3">
            @Html.Raw(sampleSet.RenderedContent.Content)
        </div>
    </div>
}

@section scripts {
    <script>
        // TODO if only we had a Stacks component for this
        // set up the tabs on this page
        document.querySelectorAll(".tab-controls [data-tab]").forEach(el => {
            el.addEventListener("click", e => {
                e.preventDefault();
                var container = e.target.closest(".tab-container");
                var selector = e.target.dataset.tab;

                if (!container || !selector) {
                    return;
                }

                container.querySelectorAll(`.tab-content:not(${selector})`).forEach(t => {
                    t.classList.toggle("d-none", true);
                });

                container.querySelectorAll(`.tab-controls .is-selected`).forEach(t => {
                    t.classList.toggle("is-selected", false);
                });

                container.querySelector(selector).classList.toggle("d-none", false);
                e.target.classList.toggle("is-selected", true);
            });
        });
    </script>
}