@page
@{
    ViewData["Title"] = "Modals";
}
<div s-modal-toggle>
    <button type="button" modal-action="Show">Toggle modal</button>
    <modal title="Example title" modal-target="Modal">
        <modal-body>
            Nullam ornare lectus vitae lacus sagittis, at sodales leo viverra. Suspendisse nec nulla dignissim elit varius tempus.
            Cras viverra neque at imperdiet vehicula. Curabitur condimentum id dolor vitae ultrices.
            Pellentesque scelerisque nunc sit amet leo fringilla bibendum. Etiam feugiat imperdiet mi, eu blandit arcu cursus a.
        </modal-body>
        <modal-footer class="grid gs8 gsx">
            <button class="grid--cell s-btn s-btn__primary" type="button" modal-target="InitialFocus">Save changes</button>
            <button class="grid--cell s-btn" type="button" modal-action="Hide">Cancel</button>
        </modal-footer>
    </modal>
</div>